.foot-wrap {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background: $gray;
    @media (max-width: 374px) {
        flex-direction: column;
        align-items: center;
        
    }
   
    .foot-container { 
        .foot-container__adress {
            color: $violet;
            display: flex;
            align-items: center;
            @media (max-width: 374px) {
                flex-direction: column;
            }
            address {
                @include text (400, 16px, 20px);
                font-style: normal;
            }
            .blue-link {
                @include text (700, 12px, 15px);
                margin: 0 20px;
            }
        }
        .foot-container__contact {
            display: flex;
            align-items: center;
            @media (max-width: 374px) {
                flex-direction: column;
            }
            span {
               font-size: 38px;
            }
            ul {
                @include text (700, 16px, 20px);
                display: flex;
                align-items: center;
                @media (max-width: 374px) {
                    flex-direction: column;
                }
                li {
                    padding-right: 15px;
                    color: $light-gray;
                    @media (max-width: 374px) {
                        list-style: none;
                    }

                    .viole-link {
                        color: $viole-gray;
                        text-decoration: none;
                        font-weight: bold;
                    }
                }
            }
        }
        @media (max-width: 374px){
            margin-left: -25px;
        }
    }
    .foot-txt {
        color: $light-gray;  
    }    
}
    
