body {
    

    font-family: Montserrat, Arial, Helvetica, sans-serif;
}
#wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}
#header {
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 0px 12px 12px #CACADB, 0px 0px 0px 16 px black; 

}

.conteiner {
    position: relative;
    width: 100%;
    height: auto;
    padding: 0 20px;
}
