.box {
    display: flex;
    justify-content: space-between;
    color: $white;
    .box__logo {
        img {
            margin-top: 20px;
        }
    }
}
.box__info {
    z-index: 1;
}
.box__info__wrap {
    display: flex;
    margin-top: 20px;
    .box__info__wrap__lang {
        ul{
            display: flex;
            list-style: none;
            margin: 0;
            li{
                padding: 5px;  
            }
        }
    }
    .box__info__wrap__contact {
        ul {
            display: flex;
            margin: 0;
            margin-top: 5px;
            li{
                padding-right: 16px;
                address {
                    font-style: normal;
                }
            }
        }
    }
}
.white-link {
    padding: 3px;
    &:hover {
        background: $pink;
        border-radius: 8px; 
    }
    &:active{
        background: rgba(255, 255, 255, 0.2);
        border-radius: 8px;
    }
}
.box__info__nav {
    ul {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        li{
            padding: 5px;
        }
    }
} 
.white-link {
    color: $white;
    text-decoration: none;
    font-weight: bold;
}
.simbol {
    position: absolute;
    top: 0;
    left: 371px;
}
.simbol-arrov {
    position: absolute;
    padding: 0 20px 4px 20px;
    right: 700px;
    top: 700px;
    border: 2px solid $light-gray;
    border-radius: 50%;
    &:hover {
        border-color: $pink;
    }
    .arrow {
        border: solid $white;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 10px;
        &:hover {
            border-color: $pink;
        }
    }
    .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
}
.simbol-text {
    position: absolute;
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    top: 320px;
    left: 410px;
}
.second-box {
    display: flex;
    padding-top: 750px;
    .second-box__left {
        font-weight: 700;
        font-size: 38px;
        width: 40%;
        .second-box__left__wrap {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-right: 40px;
            .second-box__left__wrap__link {
                color: $light-gray;
                padding: 20px 0;
                text-decoration: none;
                &:hover {
                    background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                }
            }
        }
    }
    .second-box__right {
        width: 60%;
        color: $white;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        border-left: 2px solid $white;
        .second-box__right__wrap {
            margin-left: 40px;
            h3 {
                font-weight: 700;
            }
        }
    }
}
.text {
    padding: 30px 0 0;
    .blue-link-service {
        @include text(700, 14px, 17px);
        color: $blue;
        text-decoration: none;
        display: flex;
        align-items: center;
        &:hover {
            color: $pink;
        }
        &:hover .arrow{
            border-color: $pink;
        }
        .arrow {
            border: solid $blue;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
            margin-left: 5px;
        }
        .right {
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
        }
    }
}
.blue-link {
    @include text(700, 14px, 17px);
    color: $blue;
    text-decoration: none;
    &:hover .arrow{
        color: $pink;
    }    
}    
h4 {
    @include text(700, 38px, 46px);
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.box-cards {
    display: flex;
    flex-wrap: wrap;

    .card {
        @include text(400, 16px, 26px);
        width: calc(100%/3);
        padding: 20px 30px 0 0;
        color: $white;
    }
} 
.blue-link {
    @include text(700, 22px, 27px);
    color: $blue;
    text-decoration: none;
    &:hover {
        color: $pink;
    }    
}    
  
