.head {
    border-bottom: 2px solid $gray;
}
.logo > img{
    max-width: 100%;
    height: auto;
}
.logo > a :hover  {
    transform: scale(1.1);
}
nav {
    flex-grow: 1;
}
.box-nav {
    display: flex;
    li {
        list-style: none;
        a {
            text-decoration: none;
            color: $black;
            font-weight: 400;
            font-size: 15px;
            line-height: 20px;
            padding: 0 40px;
            &:hover {
                color: $orange;
            }
        }
    }
}
.box-button {
    display: flex;
    padding: 15px 0;
    a {
        text-decoration: none;
        text-align: center;
        margin: 0 10px 0 0;
    }
}
